.itemList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    height: 50px;
}

.itemName {
    font-weight: 500;
    font-size: 0.9rem;
}

.itemPhone {
    font-weight: 500;
    font-size: 0.9rem;
}

.btnDelete {
    width: 100px;
    height: 30px;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 3px 3px;
    border-radius: 5px;
    border: 2px solid gray;
    box-shadow: 5px 5px 5px -2px gray; 
}

.btnDelete:hover {
    background-color: royalblue;
}